* {
  margin: 0;
  padding: 0;
}

.mscore,
.diff,
.meet {
  padding-right: 10px;
}

.probname {
  margin-bottom: 0.4rem;
}

.heading {
  font-size: 1.5rem;
  text-align: center;
  padding: 20px 30px;
}

.headingskill {
  width: 100%;
  height: 9rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.responsive-filt {
  display: none;
}

h1 {
  margin-left: 2rem;
  font-weight: 600;
}

.headingskill p {
  margin-left: 2rem;
}

.liclass {
  margin-bottom: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 50rem;
  margin-left: 4rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 30px 20px 30px 20px;
}

.left {
  flex-grow: 1;
  flex-direction: column;
}

.right {
  align-self: center;
}

.liclass:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.challengecard-title {
  padding: 30px 40px;
  margin-left: 2rem;
  line-height: normal;
}

.btn {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  height: 3rem;
  font-size: 16px;
  width: 160px;
  margin: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.container {
  display: flex;
  flex-direction: row;
}

.rightside {
  margin-left: 5rem;
  position: sticky;
}

.filter-sol,
.filter-diff {
  list-style: none;
}

input[type="checkbox"] {
  cursor: pointer;
  font-size: 8rem;
  margin-bottom: 0.5rem;
}

.status {
  color: #838383;
  margin-bottom: 0.75rem;
}

.solved,
.unsolved,
.easy,
.intermediate,
.hard {
  margin-left: 0.5rem;
}

.btn:hover {
  background-color: #99949452; /* Green */
  color: rgb(0, 0, 0);
}

@media (max-width: 1115px) {
  .rightside-response {
    display: none;
  }
  .responsive-filt {
    display: flex;
    justify-content: center;
  }
  .headingskill {
    height: 15rem;
  }
  .rightside {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
  }
  input[type="checkbox"] {
    margin-left: 2rem;
  }
}

@media (max-width: 875px) {
  .liclass {
    width: 40rem;
  }
}
@media (max-width: 710px) {
  .liclass {
    width: 30rem;
    margin-left: 3rem;
  }
}

@media (max-width: 510px) {
  .liclass {
    width: 25.5rem;
    margin-left: 0.25rem;
  }
}

@media (max-width: 410px) {
  .liclass {
    width: 25.5rem;
    margin-left: 0.25rem;
  }
  .solved,
  .unsolved,
  .easy,
  .intermediate,
  .hard {
    margin-left: 0.1rem;
  }
  input[type="checkbox"] {
    margin-left: 0.5rem;
  }
}
