.profile-picture {
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: #333;
}
#pfp-content {
  position: relative;
  top: 38px;
  left: 38px;
  color: aliceblue;
}

#sb {
  margin-left: 20px;
  width: 400px;
  padding: 30px;
  padding-right: 70px;
}
#bb {
  padding: 30px;
}
button {
  padding: 5px 5px;
  border-radius: 3px;
}
.pfp-username {
  border-bottom-width: 1px;
  border-bottom-color: rgb(126, 114, 114);
  border-bottom-style: solid;
}
#delete-acc {
  margin-top: 10px;
  color: white;
  background-color: rgb(223, 0, 0);
  border-radius: 4px;
  border: none;
}
.form-control {
  margin-bottom: 10px;
}
.settings {
  display: inline-block;
  padding: 20px 5px;
  margin-top: 25px;
}
.settings h4 {
  margin-bottom: 20px;
}
.test {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
#c1 {
  border-radius: 2%;
  border: none;
}
#badges {
  margin: 0;
  width: 900px;
  max-width: 900px;
  font-size: 1.5rem;
  color: black;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 40px rgb(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
#badges:hover {
  box-shadow: 0 0 40px rgb(0, 0, 0, 0.4);
}
#submissions a {
  font-size: 1rem;
}
#submissions i {
  font-size: 1rem;
  font-weight: 500;
  color: grey;
}
#submissions {
  margin: 0;
  width: 900px;
  max-width: 900px;
  font-size: 1.5rem;
  color: black;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 40px rgb(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
@media screen and (max-width: 910px) {
  #submissions {
    width: 700px;
  }
  #badges {
    width: 700px;
  }
}
@media screen and (max-width: 770px) {
  #submissions {
    width: 600px;
  }
  #badges {
    width: 600px;
  }
}
@media screen and (max-width: 650px) {
  #submissions {
    width: 500px;
  }
  #badges {
    width: 500px;
  }
}
@media screen and (max-width: 510px) {
  #submissions {
    width: 400px;
  }
  #badges {
    width: 400px;
  }
}
@media screen and (max-width: 430px) {
  #submissions {
    width: 340px;
  }
  #badges {
    width: 340px;
  }
}
@media screen and (max-width: 370px) {
  #submissions {
    width: 300px;
  }
  #badges {
    width: 300px;
  }
}
#submissions:hover {
  box-shadow: 0 0 40px rgb(0, 0, 0, 0.4);
}
#submissions-card-body a {
  font-weight: 500;
}
#load-more {
  color: #2691d9;
  border-color: #2691d9;
  background-color: white;
  border-radius: 4px;
}
#pfp-text {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 100px;
}
#hexagon {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-right: 5%;
  width: 104px;
  height: 60px;
  background-color: rgb(127, 212, 127);
  border-color: rgb(127, 212, 127);
  position: relative;
  display: flex;
}
#hexagon::before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}
#hexagon::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid;
  border-color: inherit;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}
#badges-body {
  display: flex;
}
#badge-title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
