body {
  --color-primary: #009579;
  --color-primary-dark: #007f67;
  --color-secondary: #252c6a;
  --color-error: #cc3333;
  --color-success: #00a651;
  --border-radius: 4px;

  background-color: #f2f2f2;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/* Loading Animation */
#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: "";
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  border-radius: var(--border-radius);
  background-color: #fff;
}
.container,
.form_input,
.form_button {
  font: 500 1.3rem "Roboto", sans-serif;
}

.form > *:first-child {
  margin-top: 0;
}
.form > *:last-child {
  margin-bottom: 0;
}
.form_title {
  text-align: center;
  margin-bottom: 2rem;
}
.form_message {
  text-align: center;
  margin-bottom: 1rem;
}

.form_message-success {
  color: var(--color-success);
}

.form_message-error {
  color: var(--color-error);
}

.form_input-group {
  margin-bottom: 1rem;
}
.form_input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  border-radius: var(--border-radius);
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form_input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form_input-error {
  color: var(--color-error);
  border-color: var(--color-error);
}
.form_input-error-message {
  color: var(--color-error);
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

.form_hidden {
  display: none;
}
.form_button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  color: #fff;
  cursor: pointer;
  outline: none;
}

.form_button:hover {
  background-color: var(--color-primary-dark);
}

.form_button:active {
  transform: scale(0.98);
}

.form_text {
  text-align: center;
}

.form_link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
}
.form_link:hover {
  text-decoration: underline;
}
