<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../Nav/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body>
    <nav id="navbar">
      <div class="menu-icon">
        <span class="fas fa-bars"></span>
      </div>
      <div class="logo">
        <a href="../Dashboard/index.html"> HackkerCity </a>
      </div>
      <div class="nav-items">
        <li><a href="../Skills/skills.html">Practice</a></li>
        <li><a id="submissions-btn">Submissions</a></li>
        <li><a id="pfpbtn">Profile</a></li>
        <li>
          <a href="../ContactUs/ContactUs.html" target="_blank">Contact</a>
        </li>
        <li class="logouthead" id="log"><a>Logout</a></li>
      </div>
      <div class="search-icon">
        <span class="fas fa-user"></span>
      </div>
      <div class="cancel-icon">
        <span class="fas fa-times"></span>
      </div>
      <!-- <form action="#">
        <input
          type="search"
          class="search-data"
          placeholder="Search Problem Name"
          required
        />
        <button type="submit" class="fas fa-search"></button>
      </form> -->
      <span>
        <button class="logout" id="logout">
          <a>Logout</a>
        </button>
      </span>
    </nav>
    <script src="../Nav/script.js"></script>
  </body>
</html>
