* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 10rem;
}

.listuser,
.blockuser,
.deleteuser {
  display: inline-block;
  margin: 1rem;
  height: 15rem;
  min-width: 20rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.listuser:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.blockuser:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.deleteuser:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.tagline {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  margin-top: 5rem;
}

.listbtn,
.blockbtn,
.deletebtn,
.confirmbtn,
.textbox {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 13px 20px;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* User list Table */

.tablecontent {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.submission-container {
  padding: 0 10%;
  margin: 40px auto 0;
}

.heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead tr th {
  font-size: 14px;
  font-weight: 600;
  opacity: 1;
  padding: 12px;
  letter-spacing: 0.35px;
  vertical-align: top;
  border: 1px solid #adadad;
}
.table tbody tr td {
  font-size: 14px;
  font-weight: normal;
  padding: 18px;
  letter-spacing: 0.35px;
  text-align: center;
  border: 1px solid #adadad;
}

/* Block and Delete User */

.hidden {
  display: none;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.headingcls {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.text-p {
  font-size: 1.5rem;
}

.textfield {
  margin-left: 2rem;
  font-size: 1rem;
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 5px;
}

/* Responsive */

@media (max-width: 768px) {
  .table thead {
    display: none;
  }
  .table,
  .table tbody,
  .table tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 2rem;
  }
  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
}

@media (max-width: 690px) {
  .overlay {
    position: fixed;
  }
}

body.modal-open {
  overflow: hidden;
  height: 100vh;
}

@media (max-width: 420px) {
  .modal {
    width: 10rem;
    overflow: hidden;
  }

  .text-p {
    font-size: 15px;
  }
  .headingcls {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
  }
  .textfield {
    margin-left: 0rem;
    font-size: 15px;
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 3px;
  }
}
