* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.headingpage {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.logoutcontainer {
  display: flex;
  justify-content: center;
}

.signout {
  background-color: rgb(223, 0, 0);
  border: none;
  border-radius: 8px;
  color: white;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.listuser,
.blockuser,
.unblockuser {
  display: inline-block;
  margin: 1rem;
  height: 15rem;
  min-width: 20rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.listuser:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
.blockuser:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.unblockuser:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.tagline {
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  margin-top: 5rem;
}

.listbtn,
.blockbtn,
.deletebtn,
.confirmbtn,
.confirmbtn1,
.unblockbtn,
.textbox {
  display: flex;
  justify-content: center;
}

.submission-container {
  padding: 0 10%;
  margin: 40px auto 0;
}

.heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px;
}

/* Block and Delete User */

.hidden {
  display: none;
}

.close-modall {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modall {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.headingcls,
.headingcls1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: center;
}

.error {
  color: red;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.text-p {
  font-size: 1.5rem;
}

.textfield {
  margin-left: 2rem;
  font-size: 1rem;
  border: 1px solid black;
  margin-bottom: 1rem;
  padding: 5px;
}
