* {
  margin: 0;
  padding: 0;
}

.headerlink {
  font-family: "Open Sans", sans-serif;
  background: rgba(0, 0, 0, 0.822);
  padding: 20px 30px;
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  display: flex;
}

.firstul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.secondul {
  display: flex;
  align-items: center;
}

.nav-link-item {
  list-style: none;
  margin-right: 1rem;
  font-size: 1rem;
}

.nav-link-item a {
  text-decoration: none;
  color: #adadad;
}

.header {
  display: none;
}

.logo {
  margin-right: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.logo a {
  background: -webkit-linear-gradient(rgb(17, 173, 17), #eee);
  background-clip: text-decoration;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list:hover {
  border-bottom: 2px solid rgb(17, 173, 17);
  transition: 0.3s;
  color: white;
}

.rightside {
  font-family: "Open Sans", sans-serif;
  background: none;
}

button {
  padding: 6px 10px;
  background: none;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.searchbar input[type="text"] {
  padding: 9px 7px;
  box-sizing: border-box;
  border-radius: 1rem;
  margin-left: 20rem;
  font-size: 1rem;
}

.icons {
  list-style: none;
  display: none;
}

/* .searchbar {
  font-family: "Open Sans", sans-serif;
  background: rgba(0, 0, 0, 0.822);
  padding: 20px 30px;
  display: flex;
  float: right;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  height: 80px;
}
*/

@media (max-width: 1230px) {
  .searchbar input[type="text"] {
    margin-left: 2rem;
  }
}

@media (max-width: 950px) {
  .searchbar button[type="prof"] {
    display: none;
  }
}

@media (max-width: 900px) {
  .searchbar {
    display: none;
  }
}

@media (max-width: 900px) {
  .list {
    display: none;
  }
  .icons {
    display: block;
  }
  button[type="close"] {
    display: none;
  }
  button[type="menu"] {
    font-size: 25px;
    margin-right: 5rem;
  }
}
